networkx
pandas
scipy
# graphviz #not sure if needed....
pydot #for direct export to files with g = nx.(drawing).nx_pydot.to_pydot(graph); g.write_png('output.png');
# matplotlib #interactive plotting tool
# iplotx #for extended support of matplotlib, offering more details
lxml  #secure xml reader
pyvis